h1{
    color:rgba(226, 27, 67, 0.94);
}
p{
    
    color: rgb(242, 127, 19);
    font-weight: bolder;
    font-size: 20px;
}
.test{

    padding: 10px;
    color: brown;
    font-size: 18px;
    
}
.test1{

    padding: 10px;
    color: brown;
    font-size: 18px;
}

.test2{

    padding: 10px;
    color: brown;
    font-size: 18px;
    bac
}

.test3{

    padding: 10px;
    color: brown;
    font-size: 18px;
    
}

#myheader{
    
    color: rgb(242, 127, 19);
    font-weight: bolder;
    font-size: 23px;
}

.text{
    color: brown;
    letter-spacing: 6px;
    padding-bottom: 5px;
    font-size: 18px;
    
    
}

.text1{
    color: brown;
    letter-spacing: 6px;
    padding-bottom: 5px;
    font-size: 18px;
    
    
}

.text2{
    color: brown;
    letter-spacing: 6px;
    padding-bottom: 5px;
    font-size: 18px;
}
.text3{
    color: brown;
    letter-spacing: 6px;
    font-size: 18px;
    
}

#mybody{
    color: rgb(174, 123, 74);
    
    
}